<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<h1>Weather forecast from openweather</h1>
<div id="weatherForecast">Weather forecast</div>
<input type="text" id="zipCode"/>
<input type="button" id="updateWeatherButton" value="Update Weather Forecast"/>
<!-- http://api.openweathermap.org/data/2.5/weather?zip=2000,dk&APPID=534cccd6bd0fcc47969301589853dbc8 -->

<script>
    $(document).ready(function(){
        $("#updateWeatherButton").click(function(){
            var apiKey = "534cccd6bd0fcc47969301589853dbc8";
            var zipCode = $("#zipCode").val();
            var country = "dk";
            var apiUrl = "http://api.openweathermap.org/data/2.5/weather?zip=" + zipCode + "," + country + "&APPID=" + apiKey;

            if(zipCode === "") {
                alert("No Zip-code has been entered")
            }

            $.ajax({
                type: "GET",
                dataType: "jsonp",
                url: apiUrl,
                success: function(responseTxt, statusTxt, xhr) {
                    if(statusTxt == "success") {
                        // alert(responseTxt.name + ": " + responseTxt.weather[0].description + " " + responseTxt.main.temp);
                        $("#weatherForecast").html("By: " + responseTxt.name + "<br/>" +
                            "Vejr: " + responseTxt.weather[0].description + "<br/>" +
                            "Temp: " + responseTxt.main.temp + "<br/>" +
                            "Vind: " + responseTxt.wind.speed + "<br/>" +
                            "Retning: " + responseTxt.wind.deg);
                    }
                    if(statusTxt == "error") {
                        alert("Error: " + xhr.status + ": " + xhr.statusText);
                    }
                }
            });
        });
    });
</script>
</body>
</html>